{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'blog/js/bootstrap.min.js' %}">
  <link rel="stylesheet" href="{% static 'blog/fonts/fontawesome/css/font-awesome.min.css' %}">
  <script src="{% static 'blog/js/my_jQuery.js' %}"></script>
  <title>Document</title>
</head>
<body>
  <h1>Working</h1>
  <i class="fa fa-home"></i>
</body>
</html>