{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Blog_It | Register{% endblock %}


{% block content %}

<div class="content-section mt-4">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info log" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="py-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2 category" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>

{% endblock %}


{% block sidebar %}

<h2 class="my-4 cat">Category</h2>
<hr>
<div class="categories">
    <div data-aos="fade-left" data-aos-delay="100">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.0 %}">{{ all_cat_name.0|capfirst }}<span>({{length.0}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="200">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.1 %}">{{ all_cat_name.1|capfirst }}<span>({{length.1}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="300">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.2 %}">{{ all_cat_name.2|capfirst }}<span>({{length.2}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="400">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.3 %}">{{ all_cat_name.3|capfirst }}<span>({{length.3}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="500">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.4 %}">{{ all_cat_name.4|capfirst }}<span>({{length.4}})</span></a>
    </div>
</div>
<h2 class="cat">Newsletter</h2>
<hr>
<div class="newsletter">
    <form action="{% url 'newsletter' %}" method="post">
        {% csrf_token %}
        <input type="text" class="input-group mb-2 text-center sub-inp" placeholder="Email" data-aos="fade-down"
            data-aos-delay="300" name='email'>
        <button type="submit" class="btn btn-info sub-but" data-aos="fade-up" data-aos-delay="300">Subscribe</button
            type="submit">
    </form>
</div>

{% endblock %}