{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Blog_It | Profile Page{% endblock %}


{% block content %}


<div class="content-section mt-4">
    <form method="post" enctype="multipart/form-data" class="p-2">
        {% csrf_token %}
        {{ user_form|crispy}}
        {% if user.is_staff %}
        {{ author_profile_form|crispy }}
        {% else %}
        {{ user_profile_form|crispy }}
        {% endif %}
        <button class="btn btn-info w-100 mb-3 com" type="submit">Update</button>
    </form>
</div>

{% endblock %}

{% block sidebar %}

<h2 class="my-4 cat">Category</h2>
<hr>
<div class="categories">
    <div data-aos="fade-left" data-aos-delay="100">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.0 %}">{{ all_cat_name.0|capfirst }}<span>({{length.0}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="200">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.1 %}">{{ all_cat_name.1|capfirst }}<span>({{length.1}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="300">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.2 %}">{{ all_cat_name.2|capfirst }}<span>({{length.2}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="400">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.3 %}">{{ all_cat_name.3|capfirst }}<span>({{length.3}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="500">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.4 %}">{{ all_cat_name.4|capfirst }}<span>({{length.4}})</span></a>
    </div>
</div>
<h2 class="cat">Newsletter</h2>
<hr>
<div class="newsletter">
    <form action="{% url 'newsletter' %}" method="post">
        {% csrf_token %}
        <input type="text" class="input-group mb-2 text-center sub-inp" placeholder="Email" data-aos="fade-down"
            data-aos-delay="300" name='email'>
        <button type="submit" class="btn btn-info sub-but" data-aos="fade-up" data-aos-delay="300">Subscribe</button
            type="submit">
    </form>
</div>
<h2 class="cat">Popular Tags</h2>
<hr>
<div class="popular-tags">
    <a href="{% url 'tag_finder' popu_tags.0 %}"><span class="tag" data-aos="flip-up"
            data-aos-delay="100">{{ popu_tags.0 }}</span></a>
    <a href="{% url 'tag_finder' popu_tags.1 %}"><span class="tag" data-aos="flip-up"
            data-aos-delay="200">{{ popu_tags.1 }}</span></a>
    <a href="{% url 'tag_finder' popu_tags.2 %}"><span class="tag" data-aos="flip-up"
            data-aos-delay="300">{{ popu_tags.2 }}</span></a>
    <a href="{% url 'tag_finder' popu_tags.3 %}"><span class="tag" data-aos="flip-up"
            data-aos-delay="400">{{ popu_tags.3 }}</span></a>
    <a href="{% url 'tag_finder' popu_tags.4 %}"><span class="tag" data-aos="flip-up"
            data-aos-delay="500">{{ popu_tags.4 }}</span></a>
    <a href="{% url 'tag_finder' popu_tags.5 %}"><span class="tag" data-aos="flip-up"
            data-aos-delay="600">{{ popu_tags.5 }}</span></a>
    <a href="{% url 'tag_finder' popu_tags.6 %}"><span class="tag" data-aos="flip-up"
            data-aos-delay="700">{{ popu_tags.6 }}</span></a>
</div>

{% endblock %}