{% extends 'main/base.html' %}
{% load static %}


{% block title %}Blog_It | Profile Page{% endblock %}


{% block content %}


<div class="content-section mt-4">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2>{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <a class="category" href="{% url 'edit_profile' %}">Edit profile</a>
        </div>
    </div>
    {% if user.is_staff %}
    <hr>
    <p>{{ user.profile.about|linebreaks }}</p>
    <hr>
    <div class="profile-icons">
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a href="#"><span class="fa fa-facebook"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
        <a href="#"><span class="fa fa-youtube-play"></span></a>
    </div>
    {% endif %}
</div>


{% endblock %}