{% load static %}
{% load main_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/aos.css' %}">
    <title>
        {% block title %} Blog_It {% endblock %}
    </title>
</head>

<body>
    <div class="wrapper">
        <div class="head_it">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-9 icons">
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                        <a href="#"><span class="fa fa-youtube-play"></span></a>
                    </div>
                    <div class="col-3">
                        <form action="{% url 'search_it' %}" class="form-inline my-2 my-md-0 search_it" method="POST">
                            {% csrf_token %}
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search_input">
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- Navigation -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                <a class="navbar-brand" href="{% url 'index' %}">Blog_It</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'index' %}">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'compose' %}" tabindex="-1" aria-disabled="true">Compose
                                +</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Categories</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}" tabindex="-1" aria-disabled="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}" tabindex="-1"
                                aria-disabled="true">Contact</a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">In/Up</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown09">
                                <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                                <a class="dropdown-item" href="{% url 'register' %}">Sign Up</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container mt-3">
            {% block carousel %} {% endblock %}
            <div class="row">
                <div class="col-lg-8 my-4">
                    {% block content %} {% endblock %}
                </div>
                <div class="col-lg-4 my-4">
                    <h2 class="my-4 cat">Category</h2>
                    <hr>
                    <div class="categories">
                        <div data-aos="fade-left" data-aos-delay="100">
                            <a class="category-items" href="{% url 'category_finder' all_cat_name.0 %}">{{ all_cat_name.0|capfirst }}<span>({{length.0}})</span></a>
                        </div>
                        <div data-aos="fade-left" data-aos-delay="200">
                            <a class="category-items" href="{% url 'category_finder' all_cat_name.1 %}">{{ all_cat_name.1|capfirst }}<span>({{length.1}})</span></a>
                        </div>
                        <div data-aos="fade-left" data-aos-delay="300">
                            <a class="category-items" href="{% url 'category_finder' all_cat_name.2 %}">{{ all_cat_name.2|capfirst }}<span>({{length.2}})</span></a>
                        </div>
                        <div data-aos="fade-left" data-aos-delay="400">
                            <a class="category-items" href="{% url 'category_finder' all_cat_name.3 %}">{{ all_cat_name.3|capfirst }}<span>({{length.3}})</span></a>
                        </div>
                        <div data-aos="fade-left" data-aos-delay="500">
                            <a class="category-items" href="{% url 'category_finder' all_cat_name.4 %}">{{ all_cat_name.4|capfirst }}<span>({{length.4}})</span></a>
                        </div>
                    </div>
                    <h2 class="cat">Popular Posts</h2>
                    <hr>
                    <div class="popular-posts">
                        {% for i in popular %}
                        <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                            <div class="post-image">
                                <div>
                                    <img src="{{ carousel_src|lookup:i }}" class="img" alt="blog1">
                                </div>
                                <div>
                                    <span class="mr-2 text-secondary"><i
                                            class="fa fa-calendar mr-2 mt-2"></i>{{ carousel_dates|lookup:i | date:'F d, Y' }}
                                    </span> &bullet;
                                    <span class="ml-2 text-secondary"><span class="fa fa-comments"></span> 3</span>
                                </div>
                            </div>
                            <div class="pop-title">
                                <a href="#">{{ carousel_titles|lookup:i }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <h2 class="cat">Newsletter</h2>
                    <hr>
                    <div class="newsletter">
                        <form action="{% url 'newsletter' %}" method="post">
                            {% csrf_token %}
                            <input type="text" class="input-group mb-2 text-center sub-inp" placeholder="Email"
                                data-aos="fade-down" data-aos-delay="300" name='email'>
                            <button type="submit" class="btn btn-info sub-but" data-aos="fade-up"
                                data-aos-delay="300">Subscribe</button type="submit">
                        </form>
                    </div>
                    <h2 class="cat">Popular Tags</h2>
                    <hr>
                    <div class="popular-tags">
                        <span class="tag" data-aos="flip-up" data-aos-delay="100">python</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="200">django</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="300">travel</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="400">illustration</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="500">design</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="600">lifestyle</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="700">love</span>
                        <span class="tag" data-aos="flip-up" data-aos-delay="800">project</span>
                    </div>
                </div>
            </div>
        </div>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" data-aos="fade-right" data-aos-delay="200">
                        <h3>About Us</h3>
                        <p class="mb-4">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi
                            officiis iure, autem nulla tenetur repellendus </p>
                    </div>
                    <div class="col-md-4" data-aos="fade-down" data-aos-delay="200">
                        <h3>Newsletter</h3>
                        <p>Stay update with our latest</p>
                        <form action="#" class="form-inline">
                            <div class="col-pl">
                                <div class="input-group pr-5">
                                    <input type="text" class="form-control news" placeholder="Email">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <a href="#"><i class="fa fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4" data-aos="fade-left" data-aos-delay="200">
                        <h3>Follow Us</h3>
                        <p>Let us be social</p>
                        <ul class="list-unstyled footer-social">
                            <li><a href="https://github.com/TomiwaJoseph" target="_blank"><span
                                        class="fa fa-github"></span> GitHub</a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span> Twitter</a></li>
                            <li><a href="#"><span class="fa fa-facebook"></span> Facebook</a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span> Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="move-up">
                    <span><i class="fa fa-arrow-circle-up fa-2x"></i></span>
                </div>
                <div class="rights">
                    <h4 class="text-center">
                        Copyright ©2021 All rights reserved | made by
                        <a href="https://github.com/TomiwaJoseph" target="_blank">Tomiwa Joseph</a>
                    </h4>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'main/js/my_jQuery.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <script src="{% static 'main/js/aos.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>


</body>

</html>