{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}


{% block content %}

<div class="row">
    <div class="col-md-12">
      <h2 class="my-4">Posts with category "{{tag}}"</h2>
    </div>
  </div>
<div class="row">

    {% for i in cat_number %}
    <div class="col-md-6">
      <div class="content-section" data-aos="zoom-in" data-aos-delay="200">
        <div class="cards index-cards">
          <div class="card-img-top">
            <img src="{{ cat_header_img|lookup:i }}" alt="" class="img-fluid">
          </div>
          <div class="card-body text-center">
            <div class="post-meta">
              <span class="author mr-2 text-secondary"><img class="mr-1" src="{{ cat_slug_pics|lookup:i }}" alt="" class="img-fluid">
                {{ cat_authors|lookup:i }}</span>
              <span class="mr-2 text-secondary">{{ cat_dates|lookup:i | date:'F d, Y' }} </span> &bullet;
              <span class="ml-2 text-secondary"><span class="fa fa-comments"></span> {{ pub_comments|lookup:i }}</span>
            </div>
            <h3 class="mt-2"><a href="{% url 'blog_detail' cat_year|lookup:i cat_month|lookup:i cat_day|lookup:i cat_slug|lookup:i %}"
                class="card-title text-dark">{{ cat_titles|lookup:i }}</a></h3>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  
</div>


{% endblock %}