{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}


{% block title %}Blog_It | Contact{% endblock %}


{% block content %}

<div class="comment-form-wrap pt-5">
    <form action="{% url 'contact' %}" method="POST" class="p-4 bg-light">
        {% csrf_token %}
        <div class="form-group" data-aos="fade-right" data-aos-delay="200">
            <label for="name">Subject *</label>
            <input required type="text" class="form-control" name="name">
        </div>
        <div class="form-group" data-aos="fade-right" data-aos-delay="300">
            <label for="email">Email *</label>
            <input required type="email" class="form-control" name="email">
        </div>
        <div class="form-group" data-aos="fade-right" data-aos-delay="400">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" name="phone">
        </div>
        <div class="form-group" data-aos="fade-right" data-aos-delay="500">
            <label for="message">Message *</label>
            <textarea required name="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group" data-aos="fade-up" data-aos-delay="300">
            <input type="submit" value="Send Message" class="btn btn-primary com">
        </div>
    </form>
</div>

{% endblock %}

{% block sidebar %}

<h2 class="my-4 cat">Category</h2>
<hr>
<div class="categories">
    <div data-aos="fade-left" data-aos-delay="100">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.0 %}">{{ all_cat_name.0|capfirst }}<span>({{length.0}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="200">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.1 %}">{{ all_cat_name.1|capfirst }}<span>({{length.1}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="300">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.2 %}">{{ all_cat_name.2|capfirst }}<span>({{length.2}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="400">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.3 %}">{{ all_cat_name.3|capfirst }}<span>({{length.3}})</span></a>
    </div>
    <div data-aos="fade-left" data-aos-delay="500">
        <a class="category-items"
            href="{% url 'category_finder' all_cat_name.4 %}">{{ all_cat_name.4|capfirst }}<span>({{length.4}})</span></a>
    </div>
</div>
<h2 class="cat">Newsletter</h2>
<hr>
<div class="newsletter">
    <form action="{% url 'newsletter' %}" method="post">
        {% csrf_token %}
        <input type="text" class="input-group mb-2 text-center sub-inp" placeholder="Email" data-aos="fade-down"
            data-aos-delay="300" name='email'>
        <button type="submit" class="btn btn-info sub-but" data-aos="fade-up" data-aos-delay="300">Subscribe</button
            type="submit">
    </form>
</div>

{% endblock %}